{% extends 'layout.html' %}

{% block content %}
    <h2>Issue Book</h2>
    
    <form method="POST" action="{{ url_for('issue_book_form', bookID=book['bookID']) }}">
        <label for="member_id">Member ID:</label>
        <input type="text" class="form-control" name="member_id" required><br>
        <button type="submit" class="btn btn-primary">Confirm Issue</button>
    </form>
    
    {% if book %}
    <h3>Book Details</h3>
    <p>Title: {{ book['title'] }}</p>
    <p>Author: {{ book['authors'] }}</p>
    {% endif %}
    <!-- Display more book details here if needed -->

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flash-messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
{% endblock %}
