{% extends 'layout.html' %}

{% block content %}
    <h2>Issue Book</h2>
    
    <form method="POST" action="{{ url_for('issue_book') }}">
        <label for="search_query">Search by Name or Author:</label>
        <input type="text" class="form-control" name="search_query" placeholder="Search for books">
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    
    {% if books %}
    <h3>Search Results</h3>
    <ul>
        {% for book in books %}
        <li>
            {{ book['title'] }} by {{ book['authors'] }}
            <a href="{{ url_for('issue_book_form', bookID=book['bookID']) }}">Issue Book</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flash-messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
{% endblock %}
